li.task-item:hover {
    background-color: #eee;
    transition: 0.7s;
    cursor: pointer;
}

h5.task {
    margin-top: 0px;
    margin-bottom: 0px;
}

button.btn.btn-link.complete-button,
button.btn.btn-link.delete-button {
    color: #333;
}